<ul>
  <% @jobs.each do |job| %>
    <li>
      <%= link_to "#{job.title}", job_path(job) %>
      <%= job.company.name %>
      <%= job.city %>
      <%= job.level_of_interest %>
    </li>
  <% end %>
</ul>